* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(hel.jpg);
}
.calculator {
    width: 220px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: pink;
    box-shadow: 0 0 10px 3px rgb(134, 6, 100);
    border-radius: 20px;
}
.calc__display {
    height: 40px;
    margin-bottom: 10px;
    width: 190px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: rgb(249, 97, 203);
    font-size: 30px;
    text-align: right;
    padding-right: 7px;
    font-family: 'Rubik Burned', cursive;
}
.calc__display:focus {
    outline: none;
    box-shadow: 0 0 10px 7px rgb(249, 97, 203);
}
.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.key {
    width: 45px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 3px;
    background-color: palevioletred;
    border: none;
    border-radius: 20%;
    color: white;
    font-size: 25px;
    font-family: 'Rubik Burned', cursive;
}
.key:active{
    box-shadow: 0 0 10px 8px rgb(255, 255, 255);
}
.p {
    margin-right: 0;
}
.key-result {
    padding: 0;
    width: 190px;
    height: 35px;
    background-color: palevioletred;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Rubik Burned', cursive;
    font-size: 30px;
}
.key-result:active{
    box-shadow: 0 0 10px 8px rgb(255, 255, 255);
}